In [1]:
1 + 2

3

In [2]:
"abc" * 5

'abcabcabcabcabc'

In [3]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
"a" * "b"

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
"a" * 1.5

TypeError: can't multiply sequence by non-int of type 'float'